<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" alt="" class="img-tamanioTs" >
        </div>
        <div class="col-6">
            <h1 class="text-center">{{titulo}}</h1>
            <h4> ¿Qué es TypeScript y por qué es útil? </h4>
            <p> TypeScript es un lenguaje de programación libre y de código abierto desarrollado por Microsoft que amplía JavaScript agregando tipado estático, clases y otras características que facilitan el desarrollo y mantenimiento de aplicaciones. </p>
            <p> Al utilizar TypeScript, se pueden detectar errores de manera temprana durante el proceso de desarrollo, lo que ayuda a reducir los errores en tiempo de ejecución. Además, TypeScript ofrece herramientas de desarrollo más avanzadas, como completado de código, refactoring y navegación por código, lo que facilita el trabajo de los desarrolladores. </p>
            <p> TypeScript también es compatible con todas las librerías y frameworks de JavaScript existentes, lo que facilita su integración con proyectos existentes y ayuda a evitar errores comunes en JavaScript. </p>
        </div>
        <div class="col-3"></div>
        
    </div>
</div>