<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
</head>

<body>
    <!-- <ul>
        <li></li>
    </ul> -->
    
    <div class="container">
        <h2 class="text-center mb-4">listado works!</h2>
        <div class="row justify-content-center">
            <div class="col-3">
                <ul>
                    <li *ngFor="let heroe of heroes">{{heroe}}</li>
                </ul>
                <hr>
                <ul>
                    <li *ngFor="let heroe of heroes">{{heroe}}</li>
                </ul>
            </div>
            <div class="col-6">

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{usuario.id}}</td>
                            <td>{{usuario.nombre}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-3">
                <ng-container *ngFor="let item of dios">
                    <div class="text-success">Nombre: {{item.nombre}}</div>
                    <div class="text-warning">Rango: {{item.rango}}</div>
                </ng-container>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div *ngIf="mayorEdad(18)">
                    Eres mayor de edad
                </div>
                <div *ngIf="!mayorEdad(15)">
                    No eres mayor de edad
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>