<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-2">Crud de registros con ngModel y ts</h1>
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Borrar</th>
                            <th>Seleccionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let articulos of inventario" class="text-center">
                            <td>{{articulos.id}}</td>
                            <td>{{articulos.nombre}}</td>
                            <td>{{articulos.precio}}</td>
                            <td>
                                <button (click)="eliminar(articulos.id)" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                            </td>
                            <td><button (click)="seleccionar(articulos)" class="btn btn-outline-dark"><i class="fa-solid fa-square-check"></i></button></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <div class="col-7">
                        <p>
                            <label for="id">Id</label>
                            <input required="" type="number" [(ngModel)]="formulario.id" class="form-control">
                        </p>
                        <p>
                            <label for="Nombre">Nombre</label>
                            <input required="" type="text" [(ngModel)]="formulario.nombre" class="form-control">
                        </p>
                        <p>
                            <label for="Precio">Precio</label>
                            <input required="" type="number" [(ngModel)]="formulario.precio" class="form-control">
                        </p>
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <button (click)="agregar()" class="btn btn-primary container-fluid">Agregar</button>
                            </div>
                            <div class="col-3">
                                <button (click)="editar(formulario.id)" class="btn btn-warning container-fluid">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>