    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 mt-5">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpngGRjYX1ca7qAADU3K6eGLj7ShQE3L2otdzfryl_Y9Ht2QRoQKYQbsXd36XIxMbYOw0" alt="">
            </div>
            <div class="col-6">
                    <h1 class="text-center mt-3">{{titulo}}</h1>
                    <p>En esta página encontrarás información sobre HTML.</p>
                    <h2>¿Qué es HTML?</h2>
                    <p>HTML significa "HyperText Markup Language" (Lenguaje de marcado de hipertexto) y es el lenguaje de programación que se utiliza para crear páginas web.</p>
                    <h2>¿Cómo funciona HTML?</h2>
                    <p>HTML utiliza etiquetas para marcar el contenido de una página web y definir su estructura. Por ejemplo, la etiqueta <code>&lt;h1&gt;</code> se utiliza para definir un encabezado de nivel 1, mientras que la etiqueta <code>&lt;p&gt;</code> se utiliza para definir un párrafo.</p>
                    <h2>¿Qué se puede hacer con HTML?</h2>
                    <p>Con HTML puedes crear páginas web simples o complejas, agregar imágenes, videos, formularios y mucho más. También puedes utilizar CSS y JavaScript para darle estilo y funcionalidad a tu página web.</p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
